<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-`items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-headphones"></i>
        </div>
        <div class="sidebar-brand-text mx-3">HelpDesk</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Request category
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" *ngFor="let cat of category">
        <a class="nav-link" [routerLink]="['admin/category']" [queryParams]="{category: cat.name}" 
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-cog" [ngClass]="cat.icon"></i>
            <span>{{ cat.name }}</span>
        </a>        
    </li>
</ul>